.SearchBar-Input,
.SearchBar-Button {
  border-color: blue;
  height: 40px;
  vertical-align: middle;
}

.SearchBar-Button {
  border-radius: 0px 5px 5px 0px;
  background-color: blue;
  color: white;
  text-align: center;
  width: 60px;
}

.SearchBar-Input {
  border-radius: 5px 0px 0px 5px;
}

label > input.SearchBar-Input:focus {
  border-radius: 5px 0px 0px 5px;
  outline: none;
  box-shadow: 0px 0px 2px blue;
}
